

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background:#808080;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

login-wrapper{

}
.limiter {
    width: 100%;
    margin: 0 auto;
    background-color: red;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ffffff;
}
.img1 {
    font-weight:400;
    height:500px;
    position:absolute;
    left:100px;
    background-image: url(Deprem.jpeg);
}


.wrap-login100 {
    width: 600px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    padding-bottom: 100px;
    position: absolute;
    left: 600px;
    top: 200px;
}

.form-group {
    position: relative;
    left: 110px;
    top: 50px;
    background-size: contain;
}

.txt {
    position: relative;
    left: 240px;
    top: 200px;
}
.checkbox {
    position: relative;
    left: 110px;
    top: 40px;
}
.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
   
}

.wrap-login100-form-btn {
    width: 50%;
    display: block;
    position: relative;
    right:120px;
    top:30px;
    z-index: 1;
    border-radius: 0px;
    overflow: hidden;
    margin: 0 auto;
    background-color:black;
}

.login100-form-bgbtn {
    /*position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #000000;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;*/
}


.login100-form-btn {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0px;
    width: 100%;
    height: 50px;

}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}